body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
}
span.error {
  display: inline-block;
  margin-top: 0.3rem;
  color: red;
  font-size: 12px;
  font-weight: 400;
}
input {
  color: #3d3c3cdb !important;
}

input::placeholder {
  color: #d2d2d2 !important;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #d2d2d2 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #d2d2d2 !important;
}
input,
.btn,
.form-control {
  box-shadow: none !important;
}
.bg-light {
  box-shadow: 0 0 6px #d4d4d4;
}
a.nav-link.login-btn-anchor {
  background: red;
  border-radius: 5px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  font-weight: 500;
}
.nav-link {
  font-weight: 500;
}
